# Import các thư viện cần thiết

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Thu thập dữ liệu

In [2]:
data_df = pd.read_csv('top10s.csv', index_col = 0)
data_df

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

# Khám phá dữ liệu

In [3]:
data_df.dtypes

title        object
artist       object
top genre    object
year          int64
bpm           int64
nrgy          int64
dnce          int64
dB            int64
live          int64
val           int64
dur           int64
acous         int64
spch          int64
pop           int64
dtype: object

In [4]:
num_df = data_df[['year', 'bpm', 'nrgy', 'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop']]
def missing_ratio(df):
    return (df.isna().mean() * 100)

num_df.agg([missing_ratio, 'max', 'min'])

,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,2019.0,206.0,98.0,97.0,-2.0,74.0,98.0,424.0,99.0,48.0,99.0
min,2010.0,0.0,0.0,0.0,-60.0,0.0,0.0,134.0,0.0,0.0,0.0

In [5]:
cate_df = data_df[['title', 'artist', 'top genre']]
cate_col_profiles_df = cate_df.agg([missing_ratio, 'nunique', 'unique'])
cate_col_profiles_df.rename(index = {'nunique': 'num_diff_vals', 'unique': 'diff_vals'}, inplace = True)
cate_col_profiles_df

,title,artist,top genre
missing_ratio,0.0,0.0,0.0
num_diff_vals,584,184,50
diff_vals,"[Hey, Soul Sister, Love The Way You Lie, TiK T...","[Train, Eminem, Kesha, Lady Gaga, Bruno Mars, ...","[neo mellow, detroit hip hop, dance pop, pop, ..."

# Đưa ra các câu hỏi có ý nghĩa cần trả lời

1/ Quan hệ giữa chỉ số pop và top genre
    ->Ý nghĩa: thấy được xu hướng các thể loại nhạc theo các năm và tỉ lệ các thể loại trong top

2/ Quan hệ giữa tempo (bpm) và speechiness của các bài hát top

# Tiền xử lý + phân tích dữ liệu để trả lời cho từng câu hỏi

# Nhìn lại quá trình làm đồ án

# Tài liệu tham khảo